<div class="candidate-video-cv-section">
  <div class="candidate-video-cv-section__content"
       ref="content">
    <div class="candidate-video-cv-section__background"
         :style="backgroundStyle"></div>

    <div v-show="shouldDisplayVideoPlayer"
         class="candidate-video-cv-section__video-wrapper">
      <hd-video :src="videoCvUrl"
                :play="videoPlaying"
                :width="videoCvWidthStr"
                :height="videoCvHeightStr"
                :play-time-percentage="videoPlayTimePercentage"
                @duration-updated="updateVideoDuration"
                @time-updated="updateVideoCurrentTime"
                @video-ended="playNextVideoCv"
                data-test-id="video"></hd-video>
    </div>
    <div v-if="!shouldDisplayVideoPlayer"
         class="candidate-video-cv-section__thumbnail"
         :style="thumbnailStyle"
         data-test-id="thumbnail"></div>

    <div class="candidate-video-cv-section__mask"></div>

    <div class="candidate-video-cv-section__timebar-wrapper">
      <hd-timebar :current-time="videoCurrentTime"
                  :current-timebar-idx="videoCvIdx"
                  :duration="videoDuration"
                  :timebar-count="videoCvList.length"
                  @time-selected="updateVideoPlayed"
                  data-test-id="timebar"></hd-timebar>
    </div>

    <div class="candidate-video-cv-section__info-overlay">
      <div class="candidate-video-cv-section__video-controller"
           @click="toggleVideoPlaying"
           data-test-id="video-controller">
        <hd-play-button v-if="!videoPlaying"
                        class="candidate-video-cv-section__video-controller__play-button" />
      </div>

      <div class="candidate-video-cv-section__candidate-info">
        <div>
          <span class="candidate-video-cv-section__candidate-info__black-background"
                data-test-id="info-first-name">{{candidateFirstName}}</span>
          <span class="candidate-video-cv-section__candidate-info__white-background"
                data-test-id="info-age">{{i18n.candidateAge}}</span>
        </div>

        <div v-if="isCandidateUnlocked"
             class="candidate-video-cv-section__candidate-info__unlocked"
             data-test-id="candidate-info-unlocked">
          <div>
            <span class="candidate-video-cv-section__candidate-info__gradient-background"
                  data-test-id="info-phone">{{candidatePhone}}</span>
          </div>
          <div>
            <span class="candidate-video-cv-section__candidate-info__white-background"
                  data-test-id="info-email">{{candidateEmail}}</span>
          </div>
        </div>

        <div>
          <span class="candidate-video-cv-section__candidate-info__white-background"
                data-test-id="info-score-title">{{i18n.candidateScore}}</span>
          <span class="candidate-video-cv-section__candidate-info__gradient-background"
                data-test-id="info-score">{{candidateScore}}%</span>
        </div>

        <span class="candidate-video-cv-section__candidate-info__applied-at"
              v-html="i18n.candidateAppliedAt"
              data-test-id="info-applied-at"> </span>
      </div>

      <div class="candidate-video-cv-section__question-asked">
        <p data-test-id="question-label">{{ i18n.questionLabel }}</p>
        <p data-test-id="question-asked">{{ i18n.questionAsked }}</p>
      </div>

      <div class="candidate-video-cv-section__quick-actions"
           @click.stop="">
        <div v-if="shouldDisplayHeartButton"
             class="round-button"
             @click="emitSetCandidateFavorite"
             data-test-id="heart-button-quick-action">
          <hd-heart-button class="round-button__heart"
                           size="66%"
                           :force-fill="isForcedFill"></hd-heart-button>
        </div>
      </div>
    </div>

    <div class="candidate-video-cv-section__video-cv-list-wrapper">
      <hd-video-cv-list class="candidate-video-cv-section__video-cv-list"
                        :video-cv-list="videoCvList"
                        :selected-cv-id="selectedCvId"
                        @cv-selected="selectCv"
                        data-test-id="video-cv-list"> </hd-video-cv-list>
    </div>
  </div>

  <div class="candidate-video-cv-section__action-menu">
    <div class="candidate-video-cv-section__action-menu__action"
         @click="selectPreviousCandidate"
         data-test-id="previous-candidate-button">
      <div class="round-button">
        <svg width="16"
             height="15"
             viewBox="0 0 16 15"
             fill="none"
             xmlns="http://www.w3.org/2000/svg">
          <path class="arrow"
                d="M9.19719 1.00469L8.40442 0.242157C8.06874 -0.080719 7.52594 -0.080719 7.19384 0.242157L0.251757 6.91608C-0.0839214 7.23895 -0.0839214 7.76105 0.251757 8.08049L7.19384 14.7578C7.52952 15.0807 8.07231 15.0807 8.40442 14.7578L9.19719 13.9953C9.53644 13.669 9.52929 13.1366 9.1829 12.8172L4.87981 8.87394H15.143C15.6179 8.87394 16 8.50641 16 8.04958V6.95042C16 6.49359 15.6179 6.12606 15.143 6.12606H4.87981L9.1829 2.18285C9.53286 1.86341 9.54001 1.33101 9.19719 1.00469Z" />
        </svg>
      </div>
      <span>
        {{ i18n.previousCandidate }}
      </span>
    </div>

    <div class="candidate-video-cv-section__action-menu__action"
         @click="selectNextCandidate"
         data-test-id="next-candidate-button">
      <span>
        {{ i18n.nextCandidate }}
      </span>
      <div class="round-button">
        <svg width="16"
             height="15"
             viewBox="0 0 16 15"
             fill="none"
             xmlns="http://www.w3.org/2000/svg">
          <path class="arrow"
                d="M6.80281 1.00469L7.59558 0.242157C7.93126 -0.080719 8.47406 -0.080719 8.80616 0.242157L15.7482 6.91608C16.0839 7.23895 16.0839 7.76105 15.7482 8.08049L8.80616 14.7578C8.47048 15.0807 7.92769 15.0807 7.59558 14.7578L6.80281 13.9953C6.46356 13.669 6.47071 13.1366 6.8171 12.8172L11.1202 8.87394H0.857047C0.3821 8.87394 0 8.50641 0 8.04958V6.95042C0 6.49359 0.3821 6.12606 0.857047 6.12606H11.1202L6.8171 2.18285C6.46714 1.86341 6.45999 1.33101 6.80281 1.00469Z" />
        </svg>
      </div>
    </div>
  </div>
</div>
