#app {
  font-family: 'Avenir', Helvetica, Helvetica Neue, Arial, 'Archivo', 'Lato', 'Lora', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
