.quizz-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;

  &__questions {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    margin-bottom: 24px;
  }

  &__question {
    position: relative;

    &:not(:last-child) {
      margin-bottom: 12px;
    }

    &__actions {
      display: flex;
      position: absolute;
      top: 16px;
      right: 16px;
      height: 30px;
      width: 30px;

      > span {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
      }
    }
  }
}
