<hd-dialog :open="open"
           @update:open="updateOpen"
           width="33%"
           data-test-id="page-menu-dialog">
  <hd-card-dialog :title="cardDialogInfo.title"
                  :description="cardDialogInfo.description"
                  :cta="cardDialogInfo.cta"
                  :options="cardDialogInfo.options"
                  :icon-src="cardDialogInfo.iconSrc"
                  @cta-clicked="copyEmail"
                  data-test-id="card-dialog">
  </hd-card-dialog>
</hd-dialog>
