$timebar-height: 16px;

.timebar {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  height: $timebar-height;
  display: flex;

  > * {
    &:not(:last-child) {
      margin-right: 16px;
    }
  }

  &__bar {
    flex-grow: 1;
    position: relative;
    background: rgba(237, 237, 237, 0.5);
    overflow: hidden;
    cursor: pointer;

    &:first-child {
      border-radius: 12px 0 0 12px;
    }

    &:last-child {
      border-radius: 0 12px 12px 0;
    }
  }

  &__progress {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(269.9deg, #f30 0%, #f0f 100%);
    clip: rect(0, var(--width), $timebar-height, 0);
  }
}
