<div class="login-page">
  <span class="login-page__spacer"></span>
  <div class="login-page__card"
       shadow="never">
    <h3 class="login-page__title">Connexion</h3>
    <el-form :model="form"
             @keyup.enter.native="logIn"
             ref="loginForm">
      <el-form-item prop="username"
                    :rules="rules">
        <el-input v-model="form.username"
                  prefix-icon="el-icon-user"
                  placeholder="Utilisateur"></el-input>
      </el-form-item>
      <el-form-item prop="password"
                    :rules="rules">
        <el-input type="password"
                  v-model="form.password"
                  prefix-icon="el-icon-lock"
                  placeholder="Mot de passe"
                  show-password></el-input>
      </el-form-item>
      <el-form-item>
        <el-button class="login-page__login-button"
                   type="primary"
                   :loading="logingIn"
                   @click="logIn">Se connecter</el-button>
      </el-form-item>
    </el-form>
  </div>
  <span class="login-page__spacer"></span>
  <span class="login-page__spacer"></span>
  <span class="login-page__spacer"></span>
</div>
